<div class = "container">
  <div class = "planes-index">
<h1>Planes</h1>
  <% @planes.each do |plane| %>
    <%=render "planes/show-planes", plane: %>
  <% end %>
<%= link_to "Add a plane", new_plane_path() %>
</div>
