<div class = "container">
  <h1 id = "our-planes">Our planes</h1>
  <br>
  <div class = "planes-index">
    <% @planes.each do |plane| %>
      <%=render "planes/show-planes", plane: %>
    <% end %>
    </div>
    <%= link_to new_plane_path() do %>
   <div class = "btn-blue">
     <p>Add a plane</p>
 </div>
<% end %>
