<h1><%= @plane.name%> </h1>

<% if policy(@plane).edit? %>
  <%= link_to "Edit this plane", edit_plane_path(@plane) %>|
<% end %>

<% if policy(@plane).edit? %>
  <%= link_to "Remove this plane", plane_path(@plane),data: { "turbo-method": :delete, "turbo-confirm": "Are you sure bitch?" } %>
<% end %>
