// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #92B4EC;
$light-blue: #8CC3E3;
$white: #FFFFFF;
$yellow: #FFE69A;
$orange: #FFD24C;
$green: #1EDD88;
$gray: rgba(39, 38, 38, 0.85);
$light-gray: #a9a4a4;
$black: black;
$medium-blue: rgba(255, 255, 255, 0.485);
$dark-blue: #5f8bd0;
