// Specific CSS for your home-page

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.pages-text-background {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pages-sample-planes {
    background-color: white;
    display:flex;
    justify-content: space-between;
    padding: 20px;
    
}