<div class = "footer">
  <div class = "footer-background">
      <p class = "footer-header-links">Keep Up</p>
    <div class = "footer-links">
      
      <a href ="#" class = ""><i class="fa-brands fa-facebook"></i></a>
      <a href ="#" class = ""><i class="fa-brands fa-square-instagram"></i></a>
      <a href ="#" class = ""><i class="fa-brands fa-square-twitter"></i></a>
      <a href ="#" class = ""><i class="fa-brands fa-tiktok"></i></a>
    </div>
  </div>
</div>