<div class = "home-card">
  <div class = "home-card-img">
  </div>
  <div class = "home-card-text">
    <p class = "home-card-text-specific">Model</p>
    <p class = "home-card-text-specific">Location</p>
    <p class = "home-card-text-specific">Price</p>
    <p class = "home-card-text-specific"></p>
  </div>

</div>