<div class = "search-box" id = "search-box">

  <label for="start-date">  <i class="fa-solid fa-plane-departure"></i></label>
  <input type="text" id="start-date" name="start-date">

  <label for="end-date"><i class="fa-solid fa-plane-arrival"></i></label>
  <input type="text" id="end-date" name="end-date">


  <%=link_to "Search", "#", class: "btn-black"%>
</div>
