<div class = "search-box" id = "search-box">

  <%= form_with url: planes_path, method: :get, class: "d-flex" do %>
  <label for="start-date"> <i class="fa-solid fa-plane-departure"></i></label>
   <input type="text"
   <%= text_field_tag :start_date,
   params[:start_date],
   class: "form-control",
   placeholder: "DD/MM/YYYY" %>


  <label for="end-date"> <i class="fa-solid fa-plane-arrival"> </i> </label>
  <input type="text" <%= text_field_tag :end_date,
      params[:end_date],
      class: "form-control",
      placeholder: "DD/MM/YYYY" %>

  <%= submit_tag "Search", class: "btn-black" %>
  <% end %>
</div>
