<div class = "show-card">
  <div class = "show-card-img">
  </div>
  <div class = "show-card-text">
    <div>
      <p>Model</p>
      <p>Location</p>
    </div>
    <div>
      <p>Price</p>
      <p>Owner</p>
    </div>
  </div>


</div>