<div class = "banner">
  <div class = "text-container">
    <p id = "text-size"><span data-controller="typed-js"></span> </p>
    </div>
    <div>
    <%= render "shared/search-box"%>
    </div>
  
</div>

