<div class = "banner">
    <div data-controller ="animate"  id= "animated"><%=image_tag "Plane Force-1.png", id: "logo"%> Contact us!</div>

  <div class = "text-container">
    <p id = "text-size">Rent a plane, See the world </p>
    <%= render "shared/search-box"%>

  </div>
  
</div>

