<div class = "banner">
  <!--<div data-controller ="animate"  id= "animated"><%=image_tag "Plane Force-1.png", id: "logo"%> Contact us!</div>-->

  <div class = "text-container">
    <p id = "text-size"><span data-controller="typed-js"></span> </p>
  </div>
  <div>
      <%= render "shared/search-box"%>
  </div>

</div>
