<div class = "banner">
<div class = "text-container">

<p id = "text-size">Rent a plane, See the world </p>
<%=link_to "Find a Flight", root_path, anchor: "search-box", class:"btn-black" %>
</div>
</div>
