<%= render "pages/banner"%>


<div class = "pages-text-background">
<h1>Plane Force: Travel in Style</h1>
<p>Plane force creates revenue streams for the global elite and memories for the global aspiring</p>
</div>

<div class = "pages-sample-planes">
<%= render "planes/home-planes"%>
<%= render "planes/home-planes"%>
<%= render "planes/home-planes"%>
</div>
