.footer {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    height: 300px;
    padding: 0px 0px;
    color: rgba(255, 0, 0, 0.3);
    border-bottom: 1px solid black;
  }
  .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-links a {
    color: black;
    opacity: 0.65;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-around;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }

  .footer-background {
      background-color: rgba(128, 128, 128, 0.185);
      padding: 50px 0px;
      width: 100%;
  }

  .footer-header-links {
      color: black;
      opacity: .85;
      text-align: center;
      font-size: 24px;
  }
