.footer {
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    padding: 0px 0px;
    color: $black;
    width: 100%;

  }
  .footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-links a {
    color: $black;
    opacity: 0.65;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-around;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: $orange;
  }

  .footer-background {
      background-color: $yellow;
      padding: 50px 0px;
      width: 100%;
  }

  .footer-header-links {
      color: $black;
      opacity: .85;
      text-align: center;
      font-size: 24px;
  }
