.body_form {
  background: $gradient-gray;
  color: $white;
  font-size: 1.5em;
  font-weight: 100;
  text-align: center;
}

.container_form {
  border-radius: 20px;
  background: $blue;
  color: $white;
  display: inline-block;
  padding: 2em 2em;
  margin: 2em auto;
  width: 50%;
  box-shadow: $box-shadow;

  .navigation {
    text-align: left;
  }

  input {
    border-radius: 10px;
    background-color:  $medium-blue;
    border: 0px;
    height: 40px;
  }

  input:focus {
    color: rgba(140, 135, 135, 0.85);
    background-color: #e5e4e4 !important;
    border-color: #dbe7fb;
  }

  textarea {
    border-radius: 10px;
    background-color:  $medium-blue;
    border: 0px;
    height: 40px;
  }
  select {
    border-radius: 10px;
    background-color:  $medium-blue;
    border: 0px;
    height: 40px;
  }
  a {
    color: $black;
    font-size: 16px;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 10px;
    background-color:  $medium-blue;
    border: 0px;
    height: 47px;
  }
}
