.home-card {
    height: 200px;
    width: 400px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: $border-radius-lg;
    display:flex;
    margin-left: 10px;
}

.home-card-img {
    width: 75%;
    background-color: grey;
    border-top-left-radius: $border-radius-lg;
    border-bottom-left-radius: $border-radius-lg;
}

.home-card-text {
    display: flex;
    margin-left: 5px;
    flex-direction: column;
    justify-content: center;
}