.home-card {
    height: 200px;
    width: 400px;
    background-color: $white;
    margin-bottom: 20px;
    border-radius: $border-radius-lg;
    display:flex;
    i{
      margin-bottom: 16px;
    }
}

.home-card-img {
    width: 75%;
    background-color: $light-gray;
    border-top-left-radius: $border-radius-lg;
    border-bottom-left-radius: $border-radius-lg;
    background-size: cover;
    object-fit:scale-down;
    position: relative;
}

.home-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px !important;
    padding: 10px 10px;
}

.home-card-text-specific {
    font-size: 16px !important;
}

.home-card-link {
    position: absolute;
    height: 100%;
    width: 100%;
    display: inline;
    top: 0;
    left: 0;
    z-index: 1;
}
