.show-plane{
  display: flex;
  flex-direction: row;
  padding: 10px;
}


.info-show-plane {
  display:flex;
  flex-direction: column;
  padding: 15px;
  color: $black;
}

.planes-name {
  text-align: center;
}

.info-price {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px 20px 0px;
}

.info-owner {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px 20px 0px;
}
.buttons {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 20px;
  color: $black;
}

.btn-blue {
  border-radius: 10px;
  text-align: center;
  padding: 10px 20px;
  width: 200px;
  margin: 10px auto 30px auto;
  color: $black ;

  p {
    text-decoration: none;
    color: $black;
    margin: 10px;
  }
}

.btn-blue:hover {
  background-color: $dark-blue;
}

h6 {
  font-weight: 700;
  font-size: 18px;
}
